
    <div role="tabpanel" class="tab-pane active" id="about">
        <div class="col-sm-12 menuThumb">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="raleway text-center"><b>Work:</b></h3>
                    <p class="raleway jusRaleway" ng-model="profileInfo.work">{{profileInfo.work}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 menuThumb">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="raleway text-center"><b>Education:</b></h3>
                    <p class="raleway jusRaleway" ng-model="profileInfo.education">{{profileInfo.education}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 menuThumb">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="raleway text-center"><b>Family:</b></h3>
                    <p class="raleway jusRaleway" ng-model="profileInfo.family">{{profileInfo.family}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 menuThumb">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="raleway text-center"><b>Places Lived:</b></h3>
                    <p class="raleway jusRaleway" ng-model="profileInfo.places">{{profileInfo.places}}</p>
                </div>
            </div>
        </div>
    </div>
