
    <div role="tabpanel" class="tab-pane" id="contact">
        <div class="col-sm-12 menuThumb">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="raleway text-center"><b>Phone Number:</b></h3>
                    <p class="raleway jusRaleway" ng-model="profileInfo.phone">{{profileInfo.phone}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 menuThumb">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="raleway text-center"><b>Email:</b></h3>
                    <p class="raleway jusRaleway" ng-model="profileInfo.email">{{profileInfo.email}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 menuThumb">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="raleway text-center"><b>Websites:</b></h3>
                    <p class="raleway jusRaleway" ng-model="profileInfo.websites">{{profileInfo.websites}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 menuThumb">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="raleway text-center"><b>Other Accounts:</b></h3>
                    <p class="raleway jusRaleway" ng-model="profileInfo.accounts">{{profileInfo.accounts}}</p>
                </div>
            </div>
        </div>
    </div>
