
<nav class="navbar navbar-default proNav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Clique</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">


      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="glyphicon glyphicon-user"></a></li>
          <li><a href="#" class="glyphicon glyphicon-envelope"></a></li>
          <li><a href="#" class="glyphicon glyphicon-home"></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="container jumboPro">
            <div class="jumbotron">
                <div class="col-sm-2">
                    <img src="img/profile_pic.jpg" alt="#" class="img-responsive img-thumbnail" />
                </div>
                <div class="col-sm-3">
                    <h2 ng-model="profileInfo.name">{{profileInfo.name}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row proCon">
        <div class="col-sm-3 col-sm-offset-1 menuMargin">
            <div class="col-md-12 text-center navPad">
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    <li role="presentation" class="active"><a href="#about" aria-controls="home" role="tab" data-toggle="tab" class="">About</a></li>
                    <li role="presentation"><a href="#friends" aria-controls="profile" role="tab" data-toggle="tab" class="">Friends</a></li>
                    <li role="presentation"><a href="#contact" aria-controls="messages" role="tab" data-toggle="tab" class="">Contact</a></li>
                    <li role="presentation"><a href="#photos" aria-controls="settings" role="tab" data-toggle="tab" class="">Photos</a></li>
                </ul>

                    <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="about">
                        <div class="col-sm-12 menuThumb">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3 class="raleway text-center"><b>Work:</b></h3>
                                    <p class="raleway jusRaleway" ng-model="profileInfo.work">{{profileInfo.work}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 menuThumb">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3 class="raleway text-center"><b>Education:</b></h3>
                                    <p class="raleway jusRaleway" ng-model="profileInfo.education">{{profileInfo.education}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 menuThumb">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3 class="raleway text-center"><b>Family:</b></h3>
                                    <p class="raleway jusRaleway" ng-model="profileInfo.family">{{profileInfo.family}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 menuThumb">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3 class="raleway text-center"><b>Places Lived:</b></h3>
                                    <p class="raleway jusRaleway" ng-model="profileInfo.places">{{profileInfo.places}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="friends">
                        <div class="col-sm-12 menuThumb">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3 class="raleway text-center"><b>Top 8:</b></h3>
                                    <p class="raleway jusRaleway" ng-model="profileInfo.top">{{profileInfo.top}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 menuThumb">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3 class="raleway text-center"><b>Co Workers:</b></h3>
                                    <p class="raleway jusRaleway" ng-model="profileInfo.coworkers">{{profileInfo.coworkers}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="contact">
                        <div class="col-sm-12 menuThumb">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3 class="raleway text-center"><b>Phone Number:</b></h3>
                                    <p class="raleway jusRaleway" ng-model="profileInfo.phone">{{profileInfo.phone}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 menuThumb">
                            <div class="thumbnail">
                                <img src="img/dip.jpg" alt="..." class="img-responsive imgThumb min100" />
                                <div class="caption">
                                    <h3 class="raleway text-center"><b>Email:</b></h3>
                                    <p class="raleway jusRaleway" ng-model="profileInfo.email">{{profileInfo.email}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 menuThumb">
                            <div class="thumbnail">
                                <img src="img/eggplant.jpg" alt="..." class="img-responsive imgThumb" />
                                <div class="caption">
                                    <h3 class="raleway text-center"><b>Websites:</b></h3>
                                    <p class="raleway jusRaleway" ng-model="profileInfo.websites">{{profileInfo.websites}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 menuThumb">
                            <div class="thumbnail">
                                <img src="img/meat.jpg" alt="..." class="img-responsive imgThumb" />
                                <div class="caption">
                                    <h3 class="raleway text-center"><b>Other Accounts:</b></h3>
                                    <p class="raleway jusRaleway" ng-model="profileInfo.accounts">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum aspernatur blanditiis earum dolorum nam, vitae maiores totam fugit quae fugiat ratione corrupti. Hic, voluptatibus neque?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="photos">
                        <div class="col-sm-12 menuThumb">
                            <div class="thumbnail">
                                <img src="img/bruschetta.jpg" alt="..." class="img-responsive imgThumb min100" />
                                <div class="caption">
                                    <h3 class="raleway text-center"><b></b></h3>
                                    <p class="raleway jusRaleway">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa mollitia magni voluptate, quasi repudiandae nemo suscipit adipisci. Molestias earum exercitationem quia sed rem doloremque obcaecati</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 menuThumb">
                            <div class="thumbnail">
                                <img src="img/dip.jpg" alt="..." class="img-responsive imgThumb min100" />
                                <div class="caption">
                                    <h3 class="raleway text-center"><b></b></h3>
                                    <p class="raleway jusRaleway">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa mollitia magni voluptate, quasi repudiandae nemo suscipit adipisci. Molestias earum exercitationem quia sed rem doloremque obcaecati!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 menuThumb">
                            <div class="thumbnail">
                                <img src="img/eggplant.jpg" alt="..." class="img-responsive imgThumb" />
                                <div class="caption">
                                    <h3 class="raleway text-center"><b></b></h3>
                                    <p class="raleway jusRaleway">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa mollitia magni voluptate, quasi repudiandae nemo suscipit adipisci. Molestias earum exercitationem quia sed rem doloremque obcaecati</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 menuThumb">
                            <div class="thumbnail">
                                <img src="img/meat.jpg" alt="..." class="img-responsive imgThumb" />
                                <div class="caption">
                                    <h3 class="raleway text-center"><b></b></h3>
                                    <p class="raleway jusRaleway">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum aspernatur blanditiis earum dolorum nam, vitae maiores totam fugit quae fugiat ratione corrupti. Hic, voluptatibus neque?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8" ng-controller="profileCtrl">
            <div class="input-group col-sm-10">
              <textarea class="form-control" rows="4" placeholder="Post to your timeline..." ng-model="inputModel"></textarea>
              <button class="btn btn-default" type="button" ng-click="push_todo(inputModel)">Post</button>
              <ul>
                  <li ng-repeat="thing in things_todo" class="liPost">
                      <img src="img/profile_pic.jpg" alt="#" class="img-responsive img-rounded col-sm-1" />
                      <p ng-click="read(thing)" class="col-sm-9">{{thing}}</p>
                      <button class="glyphicon glyphicon-remove col-sm-1" type="button" ng-click="delete($index)"></button>
                      <button class="glyphicon glyphicon-pencil col-sm-1" type="button" ng-click="edit($index)"></button>
                  </li>
              </ul>
            </div><!-- /input-group -->
        </div>
    </div>
</div>
